#
# this file contains steamids of players whose names shall be marked
# with a tag in the program's output. for example, specific groups of
# bots could be marked to keep track of them.
#
# to use this file, copy it to "marks.txt".
#
# syntax:
# - "!new" starts a new group
# - "!name=" specifies the name of the group (used for the tag)
# - a line starting with a steamid adds that user to the current group
# - anything after "#" is a comment
#

!new
!name=waffle

[U:1:931702397]  # Waffle-ss   main account

[U:1:430132300]  # Waffle-ss   id/LolBOTLOLkek
[U:1:1115606844] # Waffle-ss   [MR.o]MR.original BOT
[U:1:1313886083] # Waffle-ss 1 id/test22323

[U:1:1062154762] # Waffle-ss id/HELLBOTmrIriginalExe
[U:1:1313129067] # Waffle-ss 2

!new
!name=qt

[U:1:1408591871] # qt
[U:1:1408548877] # qt
[U:1:1420784847] # qt
